.tutorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    width: 15vw;
    height: 15vw;
    color: black;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.tutorCard > img {
    width: 95%;
}

.tutorCard:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.rating {
    transform: scale(0.8);
}